* {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
}
.hidden{
  display: none;
}

#header-container {
  display: flex;
  padding: 0 4rem;
  justify-content: space-between;
  background-color: #2ecc15;
  height: 3rem;
  align-items: center;
  color: whitesmoke;
}
#left-part-container {
  display: flex;
  gap: 1rem;
}
#sidebar-btn > i {
  cursor: pointer;
  font-size: 25px;
}
#left-part-container > h3 {
  cursor: pointer;
}
#nav-wrapper {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.nav {
  position: relative;
}

.nav > a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  cursor: pointer;
}
a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

a:hover::before {
  transform: scaleX(1);
}

/* Yahya */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;

}
#lungs{
    height: 100vh;
    width: 100%;
    object-fit:fill;
    
}
nav{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items:center;
    justify-content: center;
    position: absolute;
    right: 10px;
}
.navbutton{
    margin-left:20px;
    padding:20px;
    font-size: 24px;
    text-decoration: none;
    color: grey;
    border-radius: 20%;
}
.navbutton:hover{
    background-color: rgba(128, 128, 128, 0.452);
    color:white;
    transition: 1000ms;
    
}
#grid-container1{
  width: 100%;
    padding:3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.squarepic{
    display: inline-block;
    width:30rem;
    height:20rem;
    margin:2.5rem;
    border-radius: 6px;
}
.section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* padding: 5rem 0 ; */
}
.reversed{
  flex-direction: row-reverse;
}
.paragraph{
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    width: 30rem;
    justify-content: center;
    /* height: 300px; */
    /* text-align: center; */
    /* position:relative; */
    /* bottom:100px; */
    /* padding-left:50px;
    padding-right:50px; */
    font-size: 20px;
    margin:2.5rem
}
fieldset{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}
.form-container{
    width: 500px;
    position: relative;
    margin-left: 30%;
}
.ftitle{
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}
label{
    text-align: center;
    display: block;
    margin: 15px 0;
}
input[type="text"],input[type="email"]{
    display:block;
    margin:10px 0 10px 160px;
    height: 20px;
}
input[type="submit"]{
    text-align: center;
    margin:10px 0 10px 200px; 
    font-size: 20px;
}